/*/.idea/
/backend/*/target/
/*/.claude/
/frontend/node_modules/
/*/CLAUDE.md
/*/Dockerfile
/backend/IT-server/src/main/resources/application-dev.yml

/frontend/.vscode/
/**/.DS_Store
frontend/dist/
ai-backend/__pycache__/

/ai-backend/*/db
/ai-backend/test_doc.md
/ai-backend/anser.txt
/ai-backend/.env
/ai-backend/common/logs/
/ai-backend/**/__pycache__/