<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xiaoyan.mapper.ArticleMapper">
    <delete id="deleteByStudentId">
        DELETE
        FROM article
        WHERE article.student_id = #{studentId}
    </delete>

    <select id="selectPage" resultType="com.xiaoyan.pojo.Article">
        SELECT
        a.id,
        a.student_id,
        a.type,
        a.head,
        a.content,
        a.updated_date_time,
        s.name,
        f.file_url AS avatar
        FROM article a
        LEFT JOIN it_student s
        ON s.student_id = a.student_id
        AND s.deleted = 0
        LEFT JOIN student_file f
        ON f.id = s.avatar_id
        AND f.deleted = 0
        <if test="type != null">
            WHERE a.type = #{type}
        </if>
        ORDER BY a.updated_date_time DESC, a.id DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectPageByStudentId" resultType="com.xiaoyan.pojo.Article">
        SELECT *
        FROM article
        WHERE article.student_id = #{studentId}
        ORDER BY article.updated_date_time DESC, article.id DESC
        LIMIT #{offset},#{size}
    </select>

    <select id="countBefore" resultType="int">
        SELECT COUNT(*)
        FROM article
        WHERE updated_date_time > #{updatedDateTime}
    </select>
    <select id="selectCountByStudentId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM article
        WHERE article.student_id = #{studentId}
    </select>
    <select id="selectWindow" resultType="com.xiaoyan.vo.ArticleVO">
        SELECT t.id,
               t.student_id,
               t.type,
               t.head,
               t.content,
               t.updated_date_time,
               s.name,
               f.file_url AS avatar
        FROM (SELECT a.*,
                     ROW_NUMBER() OVER (
                         PARTITION BY a.type
                         ORDER BY a.updated_date_time DESC, a.id DESC
                         ) AS row_num
              FROM article a) t
                 LEFT JOIN it_student s
                           ON s.student_id = t.student_id
                               AND s.deleted = 0
                 LEFT JOIN student_file f
                           ON f.id = s.avatar_id
                               AND f.deleted = 0
        WHERE t.row_num &lt;= #{size}
        ORDER BY t.type ASC, t.updated_date_time DESC, t.id DESC
    </select>
</mapper>