<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyan.mapper.CommentLikeMapper">

    <select id="countByCommentIds" resultType="com.xiaoyan.vo.IdCountVO">
        SELECT comment_id AS id, CAST(COUNT(*) AS SIGNED) AS total
        FROM comment_like
        WHERE comment_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        GROUP BY comment_id
    </select>

    <select id="selectLikedCommentIds" resultType="long">
        SELECT comment_id
        FROM comment_like
        WHERE student_id = #{studentId}
          AND comment_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY create_date_time ASC, id ASC
    </select>

    <delete id="deleteByArticleId">
        DELETE cl
        FROM comment_like cl
                 INNER JOIN article_comment c ON c.id = cl.comment_id
        WHERE c.article_id = #{articleId}
    </delete>
</mapper>
