<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.xiaoyan.mapper.StudentFileMapper">


    <delete id="deleteByObjectNames">
        DELETE FROM student_file WHERE student_file.object_name IN
        <foreach collection="objectNames" item="objectName" open="(" separator="," close=")">
            #{objectName}
        </foreach>
    </delete>

    <!-- 删除时按 storage_type 分流：本地文件删盘、OSS 文件才调 OSS。少这次查询就分不了流 -->
    <select id="selectByObjectNames" resultType="com.xiaoyan.pojo.StudentFile">
        SELECT * FROM student_file WHERE object_name IN
        <foreach collection="objectNames" item="objectName" open="(" separator="," close=")">
            #{objectName}
        </foreach>
    </select>


</mapper>